html,body{
    height: 100%;
}
/* 重置整体布局 */
.ivu-layout.ivu-layout-has-sider{
    height: 100%;
}
table{
    width: 100%
}
#trolley table img{
    width: 100px;
    height: 100px;
}
.ivu-page{
    margin-top: 10px
}